<h1 class="title is-2">Bookings</h1>

{{#if messages.error}}
    <div class="notification is-danger is-light">
        <center> {{messages.error}} </center>
    </div>
{{/if}}

{{#if messages.success}}
    <div class="notification is-success is-light">
        <center> {{messages.success}} </center>
    </div>
{{/if}}

<div class="field">
    <label class="label" for="">Bookings for</label>
    <input class="input is-normal is-2" type="text" placeholder="enter username" />
</div>
<div class="field">
    <input class="button is-info" type="submit" value="Search" />
</div>

<table class="table is-fullwidth">
    <tr>
        <th>Table name</th>
        <th>Table capacity</th>
        <th>Booking size</th>
        <th>Booked by</th>
        <th>Contact number</th>
        <th></th>
    </tr>
    {{#each tables}}
    <tr>
        <td>{{this.table_name}}</td>
        <td>{{this.capacity}}</td>
        <td>{{this.number_of_people}}</td>
        <td>{{this.username}}</td>
        <td>{{this.contact_number}}</td>
        <td>
            <button  class="button is-warning"> <a href="/cancel/{{this.table_name}}">Cancel booking</a> </button>
        </td>
    </tr>
    {{/each}}

</table>